<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="./../../assets/demo/images/flag/shared-logo.png" alt="logo">
        <!-- <span>SAKAI</span> -->
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <div class="dropdown" title="palette">
            <button class="dropbtn p-link layout-topbar-button" (click)="toggleDropdown()">
                <i class="pi pi-fw pi-palette"></i>
                <span>palette</span>
            </button>
            <div class="dropdown-content" [ngClass]="{'show': dropdownOpen}">
            <div class="light" *ngIf="light">
              <button [class.active1]="active1" (click)="changeThemeToLightBlue()" class=" surface-border bg-transparent border-1 cursor-pointer p-2  flex align-items-center justify-content-center transition-all transition-duration-200 border-primary" style="border-radius: 30px;"><span class="block h-1rem w-full" style="border-radius: 30px; background: linear-gradient(180deg, #4378e6 0%, rgba(67, 120, 230, 0.5) 100%);"></span></button>
              <button [class.active2]="active2" (click)="changeThemeToLightPurple()" class="surface-border bg-transparent border-1 cursor-pointer p-2 flex align-items-center justify-content-center transition-all transition-duration-200 border-primary" style="border-radius: 30px;"><span class="block h-1rem w-full" style="border-radius: 30px; background: linear-gradient(180deg, #7758e4 0%, rgba(119, 88, 228, 0.5) 100%);"></span></button>
              <button [class.active3]="active3" (click)="changeThemeToLightTeal()" class="surface-border bg-transparent border-1 cursor-pointer p-2  flex align-items-center justify-content-center transition-all transition-duration-200 border-primary" style="border-radius: 30px;"><span class="block h-1rem w-full" style="border-radius: 30px; background: linear-gradient(180deg, #4dac9c 0%, rgba(77, 172, 156, 0.5) 100%);"></span></button>
            </div>
            <div class="dark" *ngIf="dark">
              <button [class.active1]="active1" (click)="changeThemeToDarkBlue()" class="surface-border bg-transparent border-1 cursor-pointer p-2 flex align-items-center justify-content-center transition-all transition-duration-200 border-primary" style="border-radius: 30px;"><span class="block h-1rem w-full" style="border-radius: 30px; background: linear-gradient(180deg, #4378e6 0%, rgba(67, 120, 230, 0.5) 100%);"></span></button>
              <button [class.active2]="active2" (click)="changeThemeToDarkPurple()" class="surface-border bg-transparent border-1 cursor-pointer p-2 flex align-items-center justify-content-center transition-all transition-duration-200 border-primary" style="border-radius: 30px;"><span class="block h-1rem w-full" style="border-radius: 30px; background: linear-gradient(180deg, #7758e4 0%, rgba(119, 88, 228, 0.5) 100%);"></span></button>
              <button [class.active3]="active3" (click)="changeThemeToDarkTeal()" class="surface-border bg-transparent border-1 cursor-pointer p-2  flex align-items-center justify-content-center transition-all transition-duration-200 border-primary" style="border-radius: 30px;"><span class="block h-1rem w-full" style="border-radius: 30px; background: linear-gradient(180deg, #4dac9c 0%, rgba(77, 172, 156, 0.5) 100%);"></span></button>

            </div>
            </div>
          </div>
    <div (click)="changeThemeToWhite()" title="claire" class="p-link layout-menu-button layout-topbar-button" *ngIf="show"> 
              <i class="pi pi-sun"></i>
              <span>claire</span>
    </div>
    <div (click)="changeThemeToDark()" title="sombre" class="p-link layout-menu-button layout-topbar-button" *ngIf="!show">
        <i class="pi pi-moon"></i>
        <span>sombre</span>
    </div>
    

      
          
        <button class="p-link layout-topbar-button" (click)="logout()" title="Deconnexion">
            <i class="pi pi-sign-out"></i>
            <span>Deconnexion</span>
        </button>
        <!-- <button class="p-link layout-topbar-button" [routerLink]="'/documentation'">
            <i class="pi pi-cog"></i>
            <span>Settings</span>
        </button> -->
        
    </div>
    
   
</div>
